// ページネーション
.shop-paginate {
    margin: 16px 0;
    font-size: $fSize_content;
  }
  // 並び替え
  .searched_heading-box {
    @include up-down-center;
    justify-content: space-between;
    &__result {
      &__keyword {
        font-size: $fSize_h2;
      }
    }
    &__sort {
      & select {
        height: 48px;
        padding: 4px;
        font-size: $fSize_content;
        &:focus {
          border: $border_style_hover;
          border-radius: 3px;
          outline: 0;
        }
      }
    }
  }
  // Shop一覧
  .shop-list {
    .shop {
      &:hover a .top-info__name {
        color: $color_action;
        text-decoration: underline;
      }
      &:hover div .bottom-info-left__top-cover {
        border: $border_style_hover;
      }
      .top-info {
        @include up-down-center;
        justify-content: space-between;
        height: 50px;
        padding-left: 16px;
        border-top: solid 2px gray;
        border-bottom: $border_style_default;
        &__name_and_area {
          @include up-down-center;
          &__name {
            font-weight: bold;
          }
          &__area {
            margin-left: 12px;
            color: $color_default;
            font-size: $fSize_content;
            word-wrap: break-word;
          }  
        }
        &__action {
          @include up-down-center;
          width: 96px;
          color: $color_action;
          .action-icon {
            width: 48px;
            height: 32px;
            line-height: 36px;
            text-align: center;
            & span {
              font-size: $fSize_content;
            }
            .user-count-0 {
              color: $color_no_action;
            }
            .clip-count-0 {
              color: $color_no_action;
            }
          }
          .action-icon-left {
            border-right: $border_style_inner;
          }
        }
      }
      .bottom-info {
        display: flex;
        padding: 16px;
        color: $color_default;
        .bottom-info-left {
          &__top-cover {
            width: 146px;
            height: 146px;
            padding: 4px;
            border: $border_style_default;
            .top-cover-img {
              width: 136px;
              height: 136px;
              object-fit: cover;
              margin: 0 auto;
              &:hover {
                opacity: $hover_opacity;
              }
            }
          }
          &__items {
            display: flex;
            margin-top: 4px;
            .cover-item {
              margin-right: 6px;
              .cover-item-img {
                width: 32px;
                height: 32px;
                object-fit: cover;
              }
              &:hover {
                opacity: 0.5;
              }
            }
          }
        }
        .bottom-info-right {
          padding: 8px 16px;
          font-size: $fSize_content;
          &__overview {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            height: 32px;
            overflow: hidden;
          }
          &__rating {
            @include up-down-center;
            padding: 8px 0;
            .star-rating {
              display: inline-block;
              position: relative;
            }
            .shop-rating {
              padding: 0 8px;
              color: $color_rate;
              font-size: 20px;
              font-weight: bold;
            }
            .shop-count {
              margin-left: 8px;
              color: $color_no_action;
              text-decoration: underline;
              i {
                margin-right: 4px;
              }
            }
          }
          &__top-wom {
            padding: 12px;
            background-color: floralwhite;
            .wom-info {
              display: flex;
              &__title {
                margin-right: 8px;
                border-bottom: dotted 1px;
                font-weight: bold;
              }
              &__user {
                color: $color_no_action;
                font-size: 9px;
              }
            }
            .wom-content {
              padding: 8px 0;
              color: $color_no_action;
            }
          }
        }
      }
    }
    & a {
      text-decoration: none;
    }
  }
  .no-history {
    padding: 32px 0;
  }
  .no-clip {
    padding: 32px 0;
  }
  // Shop詳細
  .shop-wrapper {
    .shop-header {
      @include up-down-center;
      justify-content: space-between;
      padding: 8px 0;
      border-top: $border_style_inner;
      .info-wrap {
        width: 100%;
        .shop-controller {
          display: flex;
          align-items: center;
          .shop-name {
            font-size: $fSize_h2;
            font-weight: bold;
          }
          .shop-edit {
            margin-left: 12px;
          }  
        }
        .shop-top-info {
          @include up-down-center;
          border-bottom: dotted 1px lightgray;
          color: $color_no_action;
          font-size: $fSize_content;
          &__rate {
            @include up-down-center;
            .star-rating {
              color: #ffcc33;
              font-size: $fSize_h2;
            }
            .shop-rating {
              padding: 0 8px;
              color: $color_rate;
              font-size: $fSize_h2;
              font-weight: bold;
            }
          }
          &__woms {
            padding: 0 8px;
          }
          &__bookmarks {
            padding: 0 8px;
          }
        }
        .shop-bottom-info {
          padding: 8px 0;
          font-size: $fSize_content;
          .shop-bottom-info-show {
            color: $color_no_action;
            margin-right: 16px;
          }
          .shop-genre {
            display: inline-block;
            .genre-list {
              display: flex;
            }
          }
        }
      }
      .action-wrap {
        padding: 12px 16px 8px 16px;
        background-color: ivory;
        &__app {
          @include up-down-center;
        }
        &__share {
          &__btn {
            margin: 4px;
          }
          @include up-down-center;
          .fa-facebook-square {
            color: #305097;
          }
          .fa-twitter-square {
            color: #00aced ; 
          }
          .fa-line {
            color: #5ae628;
          }
        }
        #woms-count-0 {
          border: $border_style_inner;
          color: $color_no_action;
          cursor: pointer;
          @include content-hover;
          @include action-link;
        }
        #clip-count-0 {
          border: $border_style_inner;
          color: $color_no_action;
          cursor: pointer;
          @include content-hover;
          @include action-link;
        }
        .action-btn {
          width: 96px;
          height: 32px;
          margin: 4px;
          border: $border_style_hover;
          border-radius: 4px;
          background-color: white;
          color: $color_action;
          font-size: 14px;
          text-align: center;
          cursor: pointer;
          @include content-hover;
          a {
            text-decoration: none;
            color: $color_action;
          }
          .action-link {
            @include up-down-center;
            width: 96px;
            height: 32px;
            padding: 4px;
            text-align: center;
            .action-name {
              display: table-cell;
              vertical-align: middle;
              width: 100%;
            }
          }
  
        }
      }
    }
    .shop-body {
      .shop-menu-bar {
        display: flex;
        border-top: $border_style_inner;
        border-bottom: $border_style_inner;
        border-right: $border_style_inner;
        .shop-menu {
          width: 25%;
          height: 48px;
          border-left: $border_style_inner;
          cursor: pointer;
          background: -moz-linear-gradient(bottom, whitesmoke, #FFF);
          background: -webkit-linear-gradient(bottom, whitesmoke, #FFF);
          background: linear-gradient(to top, whitesmoke, #FFF);
          &:hover {
            background: -moz-linear-gradient(top, whitesmoke, #FFF);
            background: -webkit-linear-gradient(top, whitesmoke, #FFF);
            background: linear-gradient(to bottom, whitesmoke, #FFF);
          }
          .shop-menu-link {
            @include up-down-center;
            width: 100%;
            height: 48px;
            color: $color_default;  
            text-align: center;
            text-decoration: none;
            .shop-menu-name {
              display: table-cell;
              vertical-align: middle;
              width: 100%;
            }
          }
        }
        #selected-menu {
          background: none;
          background-color: gray;
          a {
            color: white;
          }
        }
      }
      .shop-content {
        padding: 20px 0;
        &__top {
          .shop-img {
            display: block;
            width: 640px;
            height: 360px;
            object-fit: cover;
          }
        }
        .shop-outline {
          padding: 24px;
        }
      }
    }
  }
  
  #modalWrap {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      height: 100%;
      overflow: hidden;
  }
  .modal-box {
      display: none;
      position: fixed;
    top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 420px;
      width: 85%;
      height: 0;
      z-index: 1000;
      margin: auto;
      overflow: hidden;
      border-radius: 3px;
      opacity: 1;
  }
  .modal-inner {
      padding: 10px;
      text-align: center;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
  }