$wrapper_max_width: 1600px;
$wrapper_min_width: 1280px;
$menu_color_white: white;
$menu_color_gray: gray;
$menu_color_whitesmoke: whitesmoke;
$border_style_default: solid 1px gray;
$border_style_menu: 1px solid #d8d8d8;
$border_style_inner: solid 1px lightgray;
$border_style_candidate: 1px solid whitesmoke;
$border_style_btn: solid 1px #0f9ada;
$border_style_hover: solid 1px orange;
$border_style_buy: solid 1px cornflowerblue;
$border_style_sell: solid 1px goldenrod;
$border_style_orNot: solid 1px whitesmoke;
$border_style_option: solid 2px gray;
$border_style_field: solid 3px white;
$link_color: rgb(68, 68, 219);
$link_color_hover: orange;
$link_color_content: rgb(66, 66, 66);
$color_default: black;
$color_no_action: gray;
$color_action: orange;
$color_btn: #03A9F4;
$color_rate: rgb(230, 0, 0);
$color_error: #d65f4c;
$color_buy: cornflowerblue;
$color_sell: goldenrod;
$color_area_back: ivory;
$fSize_h2: 24px;
$fSize_h3: 20px;
$fSize_default: 16px;
$fSize_h5: 14px;
$fSize_content: 12px;
$shadow_content: 0 0 4px lightgray;
$shadow_menu: 1px 2px 5px rgba(0,0,0,0.1);
$shadow_btn_box: inset 0 1px 0 rgba(255,255,255,0.2);
$shadow_btn_text: 0 1px 0 rgba(0,0,0,0.2);
$hover_opacity: 0.8;