@charset "UTF-8";

.home-main .home-wrapper {
  margin: 0 auto;
}

.home-header {
  width: 100%;
  min-width: 1280px;
  height: 600px;
  background-image: image-url("./furugi-top.jpeg");
  background-size: cover;
}

.home-header .home-header-content {
  max-width: 1600px;
  min-width: 1280px;
  margin: 0 auto;
  padding: 0 64px 0;
}

.home-header .home-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 10px;
}

.home-header .home-header-top .top-app-icon-box {
  padding-top: 12px;
}

.home-header .home-header-top .top-app-icon-box #top-icon {
  height: 68px;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-header .home-header-top .menu .menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  line-height: 60px;
}

.home-header .home-header-top .menu .menu-list .menu-option {
  height: 100%;
  margin: 10px;
}

.home-header .home-header-top .menu .menu-list .menu-option a {
  color: white;
}

.home-header .home-header-top .menu .menu-list .user-nav {
  display: flex;
  align-items: center;
  position: relative;
  top: 5px;
  height: 60px;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.home-header .home-header-top .menu .menu-list .user-nav:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 0.3em solid;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid transparent;
}

.home-header .home-header-top .menu .menu-list .user-nav:hover .user-nav-icon {
  opacity: 0.8;
}

.home-header .home-header-top .menu .menu-list .user-nav .user-nav-icon {
  margin-right: 4px;
  width: 54px;
  height: 54px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  border: solid 1px gray;
  background-color: white;
}

.home-header .home-header-top .menu .menu-list .user-nav .user-nav-popup {
  display: none;
  position: absolute;
  top: 56px;
  width: 128px;
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.home-header .home-header-top .menu .menu-list .user-nav .user-nav-popup .user-nav-option {
  display: flex;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #d8d8d8;
  background-color: gray;
  text-align: left;
}

.home-header .home-header-top .menu .menu-list .user-nav .user-nav-popup .user-nav-option .option-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  text-align: center;
}

.home-header .home-header-top .menu .menu-list .user-nav .user-nav-popup .user-nav-option .option-link:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 0.3em solid white;
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid transparent;
}

.home-header .home-header-top .menu .menu-list .user-nav .user-nav-popup .user-nav-option .option-link .option-link-name {
  margin-left: 4px;
}

.home-header .top-message-box {
  display: flex;
  align-items: center;
  width: 500px;
  height: 300px;
  margin: 48px 0px 48px 128px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  font-size: 40px;
  text-align: center;
}

.home-header .top-message-box h1 {
  line-height: 104px;
}

.home-header .search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1472px;
  min-width: 960px;
  width: 100%;
  height: 96px;
  margin: 0 auto;
  padding: 0 40px 0;
  background-color: white;
  font-size: 0;
}

.home-header .search-form .form-explanation {
  width: 216px;
  margin-right: 24px;
  font-size: 16px;
}

.home-header .search-form .search-box {
  position: relative;
  width: calc(100% - 240px);
  height: 56px;
  border: solid 1px gray;
  border-radius: 6px;
}

.home-header .search-form .search-box .left-content {
  border-radius: 6px 0 0 6px;
  border-right: solid 1px lightgray;
}

.home-header .search-form .search-box .center-content {
  border-left: solid 1px lightgray;
  border-right: solid 1px lightgray;
}

.home-header .search-form .search-box__content {
  width: calc((100% - 240px)/2);
  height: 54px;
  padding: 0 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

.home-header .search-form .search-box__content:focus {
  border-bottom: solid 3px gray;
}

.home-header .search-form .search-box .right-content {
  width: 120px;
}

.home-header .search-form .search-box__submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 54px;
  border: none;
  border-radius: 0 5px 5px 0;
  outline: none;
  background-color: gray;
  color: white;
  font-size: 16px;
}

.home-header .search-form .search-box__submit:focus {
  outline: solid 4px lightgray;
}

.home-header .search-form .search-box__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.home-header #search-result {
  display: none;
  position: relative;
  z-index: 2;
  margin: -20px 0 0 0;
  border: solid 1px lightgray;
  box-shadow: 2px 2px 2px lightgray;
  background-color: white;
}

.home-header #search-result .candidate-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.home-header #search-result .candidate-list .candidate {
  display: inline;
  margin: 4px 8px;
  padding: 8px 16px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  font-size: 12px;
  cursor: pointer;
}

.home-header #search-result .candidate-list .candidate:hover {
  opacity: 0.5;
}

.home-header #search-result .candidate-list .no-result {
  margin: 4px 8px;
  padding: 8px 16px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  font-size: 12px;
}

.top-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  min-width: 1280px;
  margin: 0 auto;
  padding: 24px 64px;
}

.top-wrapper .top-main {
  min-width: 800px;
  width: 960px;
  padding: 32px;
}

.top-wrapper .top-main h2 {
  font-size: 24px;
  font-weight: bold;
}

.top-wrapper .top-main .search-area__area {
  margin-top: 16px;
  padding: 12px 24px;
  border: solid 1px lightgray;
  border-radius: 4px;
  box-shadow: 0 0 4px lightgray;
}

.top-wrapper .top-main .search-area__area .selected-area {
  display: flex;
  align-items: center;
  padding: 8px;
}

.top-wrapper .top-main .search-area__area .selected-area__name {
  margin-right: 24px;
  font-size: 24px;
  font-weight: bold;
}

.top-wrapper .top-main .search-area__area .selected-area__store-count {
  font-size: 16px;
}

.top-wrapper .top-main .search-area__area .top-areas {
  display: flex;
}

.top-wrapper .top-main .search-area__area .top-areas .top-area a {
  text-decoration: none;
  color: black;
}

.top-wrapper .top-main .search-area__area .top-areas .top-area a:hover {
  color: orange;
  text-decoration: underline;
}

.top-wrapper .top-main .search-area__area .top-areas .top-area .top-area-link {
  display: flex;
  align-items: center;
  height: 48px;
  margin: 4px;
  padding: 0 16px 0;
  border: solid 1px lightgray;
  border-radius: 4px;
  box-shadow: 0 0 4px lightgray;
  cursor: pointer;
}

.top-wrapper .top-main .search-area__area .top-areas .top-area .top-area-link .top-area-box .top-area-name {
  font-size: 16px;
  font-weight: bold;
}

.top-wrapper .top-main .search-area__area .top-areas .top-area .top-area-link .top-area-box .top-area-shop-count {
  font-size: 12px;
}

.top-wrapper .top-main .search-area__area .area-list {
  padding: 20px 8px 4px 8px;
  width: 100%;
}

.top-wrapper .top-main .search-area__area .area-list .all-area {
  float: left;
  position: relative;
  width: 25%;
  height: 28px;
  padding-left: 12px;
  font-size: 12px;
  cursor: pointer;
}

.top-wrapper .top-main .search-area__area .area-list .all-area:before {
  position: absolute;
  top: 0.35em;
  left: 0;
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent transparent orange;
  content: "";
}

.top-wrapper .top-main .search-genre__title {
  margin-top: 48px;
}

.top-wrapper .top-main .search-genre__area .top-genres {
  display: flex;
}

.top-wrapper .top-main .search-genre__area .top-genres .top-genre a:hover {
  color: black;
  text-decoration: underline;
}

.top-wrapper .top-main .search-genre__area .top-genres .top-genre a:hover img {
  opacity: 0.5;
}

.top-wrapper .top-main .search-genre__area .top-genres .top-genre .top-genre-link {
  position: relative;
  display: block;
  width: 136px;
  margin: 8px 8px 8px 0;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.top-wrapper .top-main .search-genre__area .top-genres .top-genre__img {
  height: 136px;
  width: 136px;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-wrapper .top-main .search-genre__area .top-genres .top-genre__name {
  position: absolute;
  bottom: 32px;
  width: 100%;
  font-size: 16px;
}

.top-wrapper .top-main .search-genre__area .top-genres .top-genre__store-count {
  position: absolute;
  bottom: 16px;
  width: 100%;
  font-size: 12px;
}

.top-wrapper .top-main .search-genre__area .genre-list {
  display: flex;
}

.top-wrapper .top-main .search-genre__area .genre-list .all-genre a {
  text-decoration: none;
  color: black;
}

.top-wrapper .top-main .search-genre__area .genre-list .all-genre a:hover {
  color: orange;
  text-decoration: underline;
}

.top-wrapper .top-main .search-genre__area .genre-list .all-genre .genre-link {
  float: left;
  padding: 6px 16px;
  margin: 4px 8px 4px 0;
  border: solid 1px lightgray;
  border-radius: 4px;
  box-shadow: 0 0 4px lightgray;
  color: #424242;
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
}

.top-wrapper .top-main .search-brand__title {
  margin-top: 48px;
}

.top-wrapper .top-side {
  min-width: 360px;
  width: 400px;
  padding: 0 48px 0;
}

.top-wrapper .top-side .data-count-container {
  display: flex;
  padding: 24px 0;
}

.top-wrapper .top-side .data-count-container .data-counts {
  display: flex;
  margin: 0 auto;
}

.top-wrapper .top-side .data-count-container .data-counts .data_count_center {
  border-left: solid 1px lightgray;
  border-right: solid 1px lightgray;
}

.top-wrapper .top-side .data-count-container .data-counts .data-count {
  padding: 0 24px;
  color: #383838;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.top-wrapper .top-side .data-count-container .data-counts .data-count__unit {
  font-size: 12px;
  text-align: center;
}

.top-wrapper .top-side .user-info-container {
  width: 100%;
  padding: 16px;
  background-color: oldlace;
}

.top-wrapper .top-side .user-info-container .top-container {
  padding: 16px;
  border: solid 1px lightgray;
  background-color: white;
}

.top-wrapper .top-side .user-info-container .top-container .explain-login {
  margin: 8px 0;
  color: gray;
  font-size: 12px;
}

.top-wrapper .top-side .user-info-container .top-container .sign-up-box {
  height: 40px;
  margin: 12px;
  padding: 1em 2em;
  text-align: center;
}

.top-wrapper .top-side .user-info-container .top-container .sign-up-box .link-btn {
  padding: 1em 2em;
  border: solid 1px #0f9ada;
  /*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  background: #03A9F4;
  color: #FFF;
  font-size: 12px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.top-wrapper .top-side .user-info-container .top-container .user-top-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.top-wrapper .top-side .user-info-container .top-container .user-top-info .user-link {
  display: flex;
  align-items: center;
}

.top-wrapper .top-side .user-info-container .top-container .user-top-info .user-link:hover {
  color: orange;
  opacity: 0.8;
}

.top-wrapper .top-side .user-info-container .top-container .user-top-info .user-link:hover span {
  color: orange;
}

.top-wrapper .top-side .user-info-container .top-container .user-top-info__user-icon {
  width: 70px;
  height: 70px;
  padding: 2px;
  border: solid 1px lightgray;
  border-radius: 6px;
  background-color: white;
}

.top-wrapper .top-side .user-info-container .top-container .user-top-info__user-icon .user-icon-img {
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0px;
  border-radius: 6px;
}

.top-wrapper .top-side .user-info-container .top-container .user-top-info__user-name {
  margin-left: 20px;
  color: black;
  font-size: 16px;
}

.top-wrapper .top-side .user-info-container .top-container .user-action-data {
  padding: 24px 8px 0 8px;
}

.top-wrapper .top-side .user-info-container .top-container .user-action-data .act-data {
  display: flex;
  justify-content: space-between;
  line-height: 48px;
  padding-right: 16px;
  border-top: dotted 1px lightgray;
  color: gray;
  font-size: 12px;
}

.top-wrapper .top-side .user-info-container .user-bookmark-store {
  margin-top: 16px;
  padding: 16px;
  border: solid 1px lightgray;
  background-color: white;
}

.top-wrapper .top-side .user-info-container .user-bookmark-store__title {
  font-size: 16px;
}

.top-wrapper .top-side .user-info-container .user-bookmark-store .bookmark-stores {
  padding: 16px 0;
}

.top-wrapper .top-side .user-info-container .user-bookmark-store .bookmark-stores .bookmark-store {
  padding: 4px 0;
  border-top: solid 1px lightgray;
}

.top-wrapper .top-side .user-info-container .user-bookmark-store .bookmark-stores .bookmark-store a:hover {
  text-decoration: none;
}

.top-wrapper .top-side .user-info-container .user-bookmark-store .bookmark-stores .bookmark-store a:hover .on-dec {
  color: orange;
  text-decoration: underline;
}

.top-wrapper .top-side .user-info-container .user-bookmark-store .bookmark-stores .bookmark-store .clip-shop-link {
  display: flex;
  align-items: center;
}

.top-wrapper .top-side .user-info-container .user-bookmark-store .bookmark-stores .bookmark-store .clip-shop-link:hover .clip-shop-img {
  opacity: 0.8;
}

.top-wrapper .top-side .user-info-container .user-bookmark-store .bookmark-stores .bookmark-store .clip-shop-link .clip-shop-img {
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-wrapper .top-side .user-info-container .user-bookmark-store .bookmark-stores .bookmark-store .clip-shop-link .clip-shop-data {
  margin-left: 16px;
  font-size: 12px;
}

.top-wrapper .top-side .user-info-container .user-bookmark-store .bookmark-stores .bookmark-store .clip-shop-link .clip-shop-data__tag {
  color: gray;
  font-size: 10px;
}

.top-wrapper .top-side .user-info-container .user-bookmark-store .bookmark-stores .bookmark-store .clip-shop-link .clip-shop-data__rate {
  line-height: 14px;
  color: #e60000;
  font-size: 14px;
  font-weight: bold;
}

.top-wrapper .top-side .user-info-container .user-bookmark-store .bookmark-stores .bookmark-store .clip-shop-link .clip-shop-data__rate .star-rating {
  vertical-align: bottom;
  font-size: 2px;
}

.top-wrapper .top-side .user-info-container .user-bookmark-store .user-boookmark-list {
  text-align: right;
}

.top-wrapper .top-side .user-info-container .user-bookmark-store .user-boookmark-list .bookmark-list-link {
  padding-left: 8px;
  font-size: 12px;
  cursor: pointer;
}

.top-wrapper .top-side .user-info-container .user-bookmark-store .user-boookmark-list .bookmark-list-link:before {
  display: inline-block;
  top: 0.35em;
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent transparent orange;
  content: "";
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
  color: #4444db;
}

a:hover {
  text-decoration: underline;
  color: orange;
}

.top-brands {
  display: flex;
}

.top-brands .top-brand {
  position: relative;
  width: 136px;
  margin: 8px 8px 8px 0;
  cursor: pointer;
}

.top-brands .top-brand__img {
  height: 136px;
  width: 136px;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-brands .top-brand__img:hover {
  opacity: 0.5;
}

.brand-list {
  width: 100%;
}

.brand-list .all-brand a {
  text-decoration: none;
  color: black;
}

.brand-list .all-brand a:hover {
  color: orange;
  text-decoration: underline;
}

.brand-list .all-brand .brand-link {
  float: left;
  margin: 4px 8px 4px 0;
  padding: 6px 16px;
  border: solid 1px lightgray;
  border-radius: 4px;
  box-shadow: 0 0 4px lightgray;
  color: #424242;
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
}

